{% extends "layout.html" %}

{% block body %}

<table>
    <tr>
        <th>duration</th>
        <th>project</th>
        <th>tags</th>
        <th>comments</th>
        <th></th>
    </tr>
{% for entry in entries %}
    <tr>
        <td>{{entry['duration']}}</td>
        <td><a href="{{url_for('list_entries', project=entry['project'])}}">{{entry['project']}}</a></td>
        <td>
        {% for tag in entry['tags'] %}
            <a href="{{url_for('list_entry_by_tag', id=tag)}}">{{tag}}</a>
        {% endfor %}
        </td>
        <td>{{entry['comments'] | join(', ')}}</td>
        <td><a href="{{url_for('edit_entry', id=entry['_id'])}}">edit</a></td>
    </tr>
{% endfor %}
</table>

{% endblock %}


