{% extends "layout.html" %}

{% block body %}

<h1> Create new entry </h1>

<section id="new_entry_form">
<form action="{{url_for('create_entry')}}" method="post">

  <input type="hidden" id="duration" name="duration" value="duration">
  <input type="text" id="formatted_duration" name="duration" value="duration">
  <input type="text" id="project" name="project" value="project">
  <input type="text" id="stub" name="stub" value="tags or descriptions">

  <input type="submit" />

</form>
</section>

{% endblock %}

