{% extends "layout.html" %}

{% block body %}

<h1> Create new entry </h1>

<form action="{{url_for('create_entry')}}" method="post">

<dl>
    <dt><label for="duration">Duration:</label></dt>
    <dd><input type="text" id="duration" name="duration"></dd>

    <dt><label for="project">Project:</label></dt>
    <dd><input type="text" id="project" name="project"></dd>

    <dt><label for="task">Task:</label></dt>
    <dd><input type="text" id="task" name="task"></dd>
</dl>
<input type="submit" />

</form>

{% endblock %}

